{% extends 'base.html' %}

{% block content %}

<body class="container mx-auto h-screen text-white" style="background-color: #0B021A;">
<!-- Side panel -->
<div>

</div>

<!-- Main panel -->
<main class="container mx-auto gap-x-4 px-24">
<div> 
<div class="container mx-auto flex item-center gap-x-4 px-12">
    <!-- Image -->    
    <div class="flex justify-between items-center gap-6">
        <div class="flex flex-col">
            <p class="whitespace-normal text-2xl font-semibold text-white px-10 py-4">
            {{profiles.name}}
            </p>    

            <p class="whitespace-normal w-4/5 text-xl font-sans text-white text-justify">
            {{profiles.summary}}
            </p>

        <div class="flex item-center">
            <p class="flex gap-x-28 px-16 py-12">
                <a href='mailto:{{profiles.email}}' target='_blank'>
                    <i class="fa-solid fa-envelope text-white text-xl"></i>
                </a>     

                <a href='https://wa.me/{{profiles.phone}}' target='_blank'>
                    <i class="fa-brands fa-whatsapp text-white text-xl"></i>
                </a>

                <a href='{{profiles.social_links}}' target='_blank'>
                    <i class="fa-brands fa-github text-white text-xl"></i>
                </a>
            </p>
        </div>
        </div>

        <div class="shrink-0">
            <img class="size-56 rounded-xl" src="{{profiles.photo.url}}" alt="Altphoto">
        </div>
    </div>

    
</div>

</div>
<main>
    <p class="flex item-center gap-x-4 px-12 py-4">
        Projects:
    </p>
    <div class="container mx-auto bg-gray-950 rounded-xl flex flex-col items-center gap-y-4">

        {% if projects %}
        {% for project in projects %}

        <div class="p-6 max-w-2xl bg-gray-950 rounded-xl shadow-lg flex flex-col items-center gap-y-4">
            <div class="flex items-center space-y-2 sm:py-4 sm:flex sm:items-center sm:spacey-0 sm:gap-x-4">
                <img class="block mx-auto h-16 rounded-sm shadow-lg sm:mx-0 sm:shrink-0" src="{{project.image.url}}">
            
                <a href='{% url 'portfolio:project' project.id %}'
                    class="text-xs font-semibold text-white text-center space-y-2 sm:text-center"
                >
                    {{ project.title }}
                </a>
            </div>
            <p class="text-justify">
                {{ project.summary }}
            </p>
        </div>

        {% endfor %}
        {% else %}
        <p>No projects found.</p>
        {% endif %}
    </div>
</body>

{% endblock content %}
